.include "c64-basic.target"

.section graphics {
    type: reserve_only
    address: $c000-$cfff
}
.section graphics_read_only {
    type: reserve_only
    address: $e000-$ffff
}

;.section reserved .extend {
;    address: $a000-$bfff
;}
